.btn-theme:after{
	content: '';
	@include position(absolute,50%,null,null,50%);
	width: 100%;
	height: 0;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-webkit-transition: all 0.4s cubic-bezier(0, 0, 0, 0.3);
	transition: all 0.4s cubic-bezier(0, 0, 0, 0.3);
	background: rgba(255,255,255,0.15);
}
.btn-theme{
	@include position(relative,null,null,null,null);
	overflow: hidden;
	color:theme-color('primary');
	z-index: 1;
	-webkit-transition: .2s cubic-bezier(0.19, 0.4, 0.9, 0.76) background;
	transition: .2s cubic-bezier(0.19, 0.4, 0.9, 0.76) background;
	border: 1px solid theme-color('primary');
	background-color:transparent;
}
.btn-theme:hover:after{
	height: 100%;
	opacity: 1;
	color:#fff;
}
.btn-theme:hover{
	color:#fff;
	background-color:theme-color('primary');
	border: 1px solid theme-color('primary');
}
@media (max-width:500px)
{
	.btn-theme
	{
		padding: 0.475rem 0.7rem;
		font-size:nth($f_sizes,3);
	}
}